<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.qrcode.mapper.CouponDetailedMapper">
    <resultMap id="BaseResultMap" type="com.wechat.qrcode.entity.CouponDetailed">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="coupon_code" jdbcType="VARCHAR" property="couponCode"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="coupon_type" jdbcType="INTEGER" property="couponType"/>
        <result column="coupon_status" jdbcType="INTEGER" property="couponStatus"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="booking_number" jdbcType="INTEGER" property="bookingNumber"/>
        <result column="consume_voucher_url" jdbcType="VARCHAR" property="consumeVoucherUrl"/>
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime"/>
    </resultMap>

    <resultMap id="dtoMap" type="com.wechat.qrcode.entity.dto.CouponDetailedDto" extends="BaseResultMap">
        <result column="start_date" jdbcType="VARCHAR" property="stateDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
    </resultMap>
    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon_detailed
        (user_id, coupon_code, start_time, end_time, coupon_type, coupon_status, is_delete, create_time, booking_number)
        VALUES
        (#{userId}, #{couponCode}, #{startTime}, #{endTime}, #{couponType}, #{couponStatus}, #{isDelete}, #{createTime}, #{bookingNumber})
    </insert>

    <select id="selectByUserId" resultMap="dtoMap">
        select a.*,
        DATE_FORMAT(a.start_time, '%y年%m月%d日%H:%i:%s') as state_date,
        DATE_FORMAT(a.end_time, '%y年%m月%d日%H:%i:%s') as end_date
        from coupon_detailed a
        where a.is_delete = 1 and a.user_id = #{userId}
    </select>

    <!--根据用户id，更新优惠劵状态-->
    <update id="updateStatusByUserId">
        UPDATE coupon_detailed a
        SET a.coupon_status = 2, a.update_time = now()
        WHERE a.user_id = #{userId} and a.coupon_status = 1
    </update>

    <!--根据id更新消费凭证信息-->
    <update id="updateConsumeVoucherUrlById">
        UPDATE coupon_detailed a
        SET a.consume_voucher_url = #{consumeVoucherUrl}, a.upload_time = now()
        WHERE a.id = #{id}
    </update>

</mapper>